.section-information {
  width: 100%;
}

.section-information ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.section-information li {
  width: 100%;
  height: 630px;
}

.section-information li.item-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-information li.item-text div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 32px;
  padding: 40px;
  max-width: 450px;
  width: 100%;
}

.section-information li.background-image {
  justify-content: flex-end;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section-information li.background-image div {
  align-items: center;
}

.section-information li.background-image p {
  text-align: center;
}

.section-information li.tangerine {
  background-image: url('../images/desktop/background-tangerine.jpg');
}
  
.section-information li.cherry {
  background-image: url('../images/desktop/background-cherry.jpg');
}

.section-information li.item-text h2 { 
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 900;
  color: var(--color-dark-desaturated-blue);
}

.section-information li.item-text p { 
  color: var(--color-dark-grayish-blue);
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.section-information li.item-text button {
  border: 0;
  position: relative;
  background: transparent;

  font-size: 1rem;
  line-height: 1rem;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--color-dark-desaturated-blue);
  z-index: 2;
}

.section-information li.item-text button::before {
  content: '';
  display: block;
  
  position: absolute;
  bottom: -2px;
  right: -10px;
  height: 7px;
  
  z-index: -1;
  opacity: 0.2;
  width: 134px;
  border-radius: 10px;
  background: var(--color-yellow);

  transition: 0.4s height;
}

.section-information li.item-image {
  overflow: hidden;
}

.section-information li.item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  transition: 0.4s transform;
}

.section-information li.item-image img:hover {
  transform: scale(1.05);
}