.section-galleries {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  height: 550px;
}

@media(max-width: 768px) {
  .section-galleries {
    grid-template-columns: repeat(2, 1fr);
    height: 700px;
  }
}

.section-galleries div {
  overflow: hidden;
}

.section-galleries div, .section-galleries img {
  width: 100%;
  height: 100%;
}

.section-galleries img {
  object-fit: cover;
  transition: 0.4s all;
}

.section-galleries div:hover img {
  transform: scale(1.1);
}