.section-banner-hero {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 40px 0;

  background-image: url('../images/desktop/image-header.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-banner-hero header {
  display: flex;
  align-items: center;

  width: 100%;
  max-width: 1320px;
}

.section-banner-hero header img {
  width: 200px;
  height: auto;
  margin-right: auto;
}

.section-banner-hero h1 {
  font-size: 3.5rem;
  line-height: 4.25rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  color: var(--color-white);
  margin: 100px 0;
}

.section-banner-hero img {
  width: auto;
  height: 100px;
}

@media (max-width: 768px) {
  .section-banner-hero h1 {
    text-align: center;
    font-size: 4rem;
    line-height: 5rem;
    margin: 18vh 0 80px;
  }

  .section-banner-hero img {
    height: 160px;
  }
}

@media (max-width: 450px) {
  .section-banner-hero h1 {
    font-size: 2.5rem;
    line-height: 4rem;
  }

  .section-banner-hero {
    padding: 40px 20px 0;
  }
}
