
#navigation {
  list-style: none;
  display: flex;
  align-items: center;
  column-gap: 48px;
}

#navigation li {
  font-size: 1.125rem;
  line-height: 2rem;
  color: var(--color-white);

  position: relative;

  display: flex;
  flex-direction: column;
}

#navigation li::after{
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;

  width: 0%;
  height: 2px;

  background: var(--color-white);
  transition: 0.4s all;
}

#navigation li:hover:after{
  width: 42%;
}

#button-mobile {
  visibility: hidden;
  display: none;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 6px;
  background: transparent;
  
  width: 40px;
  height: 28px;
  z-index: 5;
}

#button-mobile span {
  display: block;
  width: 100%;
  height: 2px;
  background: white;

  transition: all 0.4s;
}

#button-mobile.active span {
  background: #3dbeff;
}

#button-mobile span:last-child {
  width: 55%;
}

#button-mobile.active span:nth-child(1) {
  width: 80%;
  transform: rotate(-45deg) translate(-5px, 13px);
}

#button-mobile.active span:nth-child(2) {
  opacity: 0;
}

#button-mobile.active span:nth-child(3) {
  width: 80%;
  transform: rotate(45deg) translate(2px, -6px);
}

.button-contact {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 0;
  width: 150px;
  height: 50px;
  border-radius: 24px;
  background: var(--color-white);

  font-size: 1rem;
  line-height: 1rem;
  text-transform: uppercase;
  color: var(--color-dark-desaturated-blue);

  margin-left: 48px;
}

@media(max-width: 768px) {
  #navigation {
    position: fixed;
    top: 40px;
    right: 4%;

    width: 250px;
    height: 0;
    overflow: hidden;
    border-radius: 6px;
    background: var(--color-white);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    flex-direction: column;
    justify-content: center;
    row-gap: 20px;

    transition: all 0.4s;
  }

  #navigation.active {
    height: 300px;
  }

  #navigation li {
    letter-spacing: 1px;
    font-size: 1.25rem;
    color: var(--color-dark-desaturated-blue);
  }

  .button-contact {
    display: none;
    visibility: hidden;
  }

  #button-mobile {
    visibility: visible;
    display: flex;
  }
}
